doctype html
html
  head
    title=title
    meta(property="fb:app_id", content=fbAppId)
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=image)
    meta(property="og:type", content="website")
